<footer class="site-footer">

  <div class="wrapper">
    <div class="footer-col-wrapper">
        <ul class="social-media-list">
          <!-- if it exists, display github icon linked to github user page -->
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
          
          <!-- if it exists, icon linked to twitter -->
          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}

          <!-- icon linked to email -->
          <!-- <li>
            {% include icon-email.html %}
          </li> -->
          
        </ul>
    </div>
  </div>
</footer>
