<footer class="site-footer fill-gray-darker">

  <div class="wrapper text-white">

  <span class="xs-block xs-mt3 xs-mb1">Say hi:</span>
  <a href="mailto:lindsey.maratta@gmail.com" class="xs-inline-block xs-mb3 link--inline link--inverse">lindsey.maratta@gmail.com</a>
  <ul class="xs-text-1 list-unstyled">
          <li class="xs-inline-block xs-p1">
            <a href="https://www.twitter.com/lindseymaratta" target="_blank" class="link-white"><span class="fab fa-twitter"></span></a>
          </li>
          <li class="xs-inline-block xs-p1">
            <a href="https://instagram.com/lmaratta" target="_blank" class="link-white"><span class="fab fa-instagram"></span></a>
          </li>
          <li class="xs-inline-block xs-p1">
            <a href="https://www.linkedin.com/in/lindsey-maratta" target="_blank" class="link-white"><span class="fab fa-linkedin"></span></a>
          </li>
  </ul>
  </div>
</footer>
