<footer class="site-footer fill-gray-darker">

  <div class="wrapper">
    <div class="footer-col-wrapper xs-text-center">
        <ul class="xs-text-1 xs-p2">
          <li class="xs-inline-block xs-p1">
            <a href="https://twitter.com/lindseymaratta" class="link-white"><span class="fab fa-twitter"></span></a>
          </li>
          <li class="xs-inline-block xs-p1">
            <a href="https://www.instagram.com/lmaratta" class="link-white"><span class="fab fa-instagram"></span></a>
          </li>
          <li class="xs-inline-block xs-p1">
            <a href="https://github.com/lindseymaratta" class="link-white"><span class="fab fa-github-alt"></span></a>
          </li>
          <li class="xs-inline-block xs-p1">
            <a href="mailto:lindsey.maratta@gmail.com" class="link-white"><span class="far fa-envelope"></span></a>
          </li>
        </ul>
    </div>
  </div>
</footer>
