<header class="site-header">

  <div class="wrapper">

    <a class="site-title xs-hide sm-inline" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <a class="xs-inline sm-hide" href="{{ site.baseurl }}/">
      <img src="{{ '/img/face.jpg' | prepend: site.baseurl }}" class=" circle xs-align-middle xs-mr2 xs-mt05 xs-float-left" height="46px" width="46px">
    </a>

    <nav class="site-nav">

        <!-- {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %} -->

        <a class="page-link {% if page.type == 'Work' %} active" {% endif %}" href="{{ site.baseurl }}/">Work</a>

        <a class="page-link {% if page.title == 'Experience' %} active" {% endif %}" href="{{ site.baseurl }}/experience">Experience</a>
        <a class="page-link" href="mailto:lindsey.maratta@gmail.com">Contact</a>
    </nav>

  </div>

</header>
