---
layout: default
---

<article class="post ">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }} </h1>
  </header>
  <div class="post-content col md-col-8">
    {{ content }}
  </div>
  <div class="sidebar col md-col-4">
  	<div class="xs-mb2">
  		<span class="bold xs-block">Role:</span> {{ page.role }}
  	</div>
  	<div class="xs-mb2">
  		<span class="bold xs-block">Timeline:</span> {{ page.timeline }}
  	</div>
  	<div class="xs-mb2">
  		<span class="bold xs-block">Teammates:</span> {{ page.team }}
  	</div>
  </div>

</article>
 

